body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-image: url(http://3.bp.blogspot.com/-wjiybscffz8/T5Qf9Dp8zFI/AAAAAAAAA1w/0xo2c7opOk4/s1600/dark-rainy-city.jpg)
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
.hometitle{
    text-align:center;
    color:aliceblue;
}
.welheader{
    text-align:center;
    color:white;
    font-family:Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
.comset  {
    text-align:center;
}
.commentform fieldset{
    text-align:center;

}
.logreg{
    float:right;
}
fieldset{
    background-image:url(http://fc07.deviantart.net/fs71/i/2012/311/2/4/spiral___dark_background_by_arobeddy-d5kaqlm.jpg);
    margin-left: 400px;
     width: 50%;
     text-align:center;
     color:white;
}
.comment{
    font-size:large;
    font-style:oblique;
    color:white;
}
.post{
    color:white;
    font-size:large;
    
}
.imgurl {
    text-align:center;
}
.title{
    text-align:center;
}
.table{
    color:white;
    font-size:large;
    font-family:Impact 12px;
    font-style:normal;
    background-image:url(http://fc07.deviantart.net/fs71/i/2012/311/2/4/spiral___dark_background_by_arobeddy-d5kaqlm.jpg)
}
.table{
    color: white;
}
.posttab{
    color: white;
}
logininfo{
    text-color:white;
    font-family:Impact,  Haettenschweiler,  'Arial Narrow Bold',  sans-serif;
    font-style:normal;s
}